{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Report list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Userr</th>
                <th>Person</th>
                <th>Date</th>
                <th>Scope</th>
                <th>Cfdata</th>
                <th>Cfgroup</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('report_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.userr }}</td>
                <td>{{ entity.person }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.scope }}</td>
                <td>{{ entity.cFData }}</td>
                <td>{{ entity.cFGroup }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('report_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('report_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {{ form_start(form) }}
        {{ form_row(form) }}
        <button type="submit">
            Create a new report
        </button>
    {{ form_end(form) }}
{% endblock %}
