{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 * 
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'report_select_type' %}

{% block title %}{{ 'Details d\' un rapport' |trans() }}{% endblock title %}

{% block personcontent %}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ entity.user }}</td>
            </tr>
            <tr>
                <th>Person</th>
                <td>{{ entity.person }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Scope</th>
                <td>{{ entity.scope }}</td>
            </tr>
            <tr>
                <th>Cfdata</th>
                <td>{# { entity.cFData } #}</td>
            </tr>
            <tr>
                <th>Cfgroup</th>
                <td>{{ entity.cFGroup.getName(app.request.locale) }}</td>
            </tr>
            <tr>
                <th></th>
                <td><a href="{{ path('report_edit', { 'person_id': entity.person.id, 'report_id': entity.id }) }}">{{ 'update' | trans }}</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}