{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 * 
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "ChillPersonBundle::layout.html.twig"  %}

{% set activeRouteKey = 'report_select_type' %}

{% block title %}{{ 'Details d\' un rapport' |trans() }}{% endblock title %}

{% block personcontent %}


    <a href="{{ path('report_edit', { 'person_id': entity.person.id, 'report_id': entity.id }) }}">{{ 'Modifier' | trans }}</a>

    <h2>{{ 'Details'|trans }}</h2>

    <dl>
        <dt class="inline">{{ 'Personne'|trans }}</dt>
        <dd>{{ entity.person }}</dd>
        <dt class="inline">{{ 'Scope'|trans }}</dt>
        <dd>{{ entity.scope }}</dd>
        <dt class="inline">{{ 'Date'|trans }}</dt>
        <dd>{{ entity.date|date('d-m-Y') }}</dd>
        <dt class="inline">{{ 'Agent'|trans }}</dt>
        <dd>{{ entity.user }}</dd>
        <dt class="inline">{{ 'Type de rapport'|trans }}</dt>
        <dd>{{ entity.cFGroup.getName(app.request.locale) }}</dd>

        {% for customField in entity.cFGroup.customFields %}
            {% if customField.type == 'title' %}
                {{ chill_custom_field_widget(entity.cFData , customField) }}
            {% else %}
                <dt>{{ chill_custom_field_label(customField) }}</dt>
                <dd>{{ chill_custom_field_widget(entity.cFData , customField) }}</dd>
            {% endif %}
        {% endfor %}
    </dl>

    <a href="{{ path('report_edit', { 'person_id': entity.person.id, 'report_id': entity.id }) }}">{{ 'Modifier' | trans }}</a>

{% endblock %}